nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 40px 0;  */
    /* position: fixed; */
    height: 52px;
    opacity: 1;
    width: 80%;
    color: #fff;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    margin-right: 40px;
}
ul{
    font-size: 16px;
    font-weight: bold;
    /* width: 70%; */
}
.nav-item{
    display: flex;
    /* justify-content: space-evenly; */
}
.nav-item li{
    margin: 0 20px;
}
.user-search-bar{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.user-search-bar div:first-child{
    margin: 0 20px;
}
.sign-in-co{
    transform: translate(-50%, 0);
    left: 50%;
    top: 25%;
}